* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 15vh;
  align-items: center;
}
header .caixaLogo {
  display: flex;
  justify-content: space-evenly;
  width: 12%;
  align-items: center;
}
header h1 {
  color: #1F2937;
}
header nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #485563;
  align-items: center;
}
header .btnVerdeHeader {
  background-color: #21c05c;
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 18px;
  border-radius: 6px;
}

.primeiraSection {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  height: 70vh;
  align-items: center;
}
.primeiraSection section {
  width: 50;
}
.primeiraSection section h2 {
  font-size: 3.75rem;
  font-weight: 700;
  width: 55%;
}
.primeiraSection section p {
  font-size: 1.25rem;
  width: 50%;
}
.primeiraSection section .boxBntsPrimeiraSection {
  align-items: center;
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.primeiraSection section .boxBntsPrimeiraSection .btnVerde {
  background-color: #21c05c;
  color: #ffffff;
  padding: 18px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 6px;
  cursor: pointer;
}
.primeiraSection section .boxBntsPrimeiraSection .btnBranco {
  background-color: #ffffff;
  color: #2563eb;
  padding: 18px;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 6px;
  cursor: pointer;
}

.dadosNumericos {
  background-color: #F3F5F8;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 20vh;
}
.dadosNumericos div {
  width: 15%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.dadosNumericos div h2 {
  color: #16A34A;
}

.produtosDisponiveis {
  background-color: aquamarine;
  height: 85vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.produtosDisponiveis article {
  width: 20%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.produtosDisponiveis article img {
  width: 100%;
  height: 30vh;
}
.produtosDisponiveis article button {
  width: 45%;
  height: 5vh;
  cursor: pointer;
  margin-bottom: 1rem;
  background-color: #16a34a;
  color: #ffffff;
  font-weight: 900;
  border-radius: 15px;
  font-size: 1rem;
}

@media (max-width: 500px) {
  header {
    flex-direction: column;
    height: 20vh;
  }
  .caixaLogo {
    width: 80%;
  }
  nav {
    width: 100%;
  }
  nav a {
    font-size: 1rem;
  }
  nav .btnVerdeHeader {
    font-size: 0.8rem;
  }
  .primeiraSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 80vh;
  }
  .primeiraSection section {
    height: 70vh;
  }
  .primeiraSection section h2 {
    font-size: 1.5rem;
    width: 100%;
  }
  .primeiraSection section p {
    width: 100%;
  }
  .primeiraSection .boxBtnsPrimeiraSection {
    width: 100%;
  }
  .primeiraSection .boxBtnsPrimeiraSection button {
    padding: 20px 30px;
  }
  .primeiraSection img {
    width: 50%;
  }
  .dadosNumericos {
    height: 25vh;
  }
  .dadosNumericos div {
    width: 25%;
  }
  .dadosNumericos div h2 {
    font-size: 1.8rem;
  }
  .dadosNumericos div p {
    font-size: 1rem;
  }
  .produtosDisponiveis {
    display: flex;
    flex-direction: column;
  }
  .produtosDisponiveis article {
    width: 60%;
    text-align: center;
  }
  .produtosDisponiveis article button {
    font-size: 1rem;
    width: 70%;
    font-weight: 400;
  }
}/*# sourceMappingURL=style.css.map */