*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: beige;
    display: flex; //Ativa as caixas flexíveis
    justify-content: flex-start; //É o padrão. Os itens são postos no começo do eixo principal.
    justify-content: flex-end; //Os itens são postos no final do eixo principal.
    justify-content: center; //Os itens são postos no meio do eixo prinicpal.
    justify-content: space-around; //O primeiro espaço vazio o ultimo são iguais.
    //justify-content: space-evenly; //O mesmo espaçamento entre os itens.
    //justify-content: space-between; //O primeiro item fica no começo do eixo e o último fica no final do eixo.

    height: 15vh;
    align-items: flex-start; //Padrão. Os itens são postos no começo do eixo Y (vertical).
    align-items: flex-end; //Os itens são postos no final do eixo Y (vertical).
    align-items: center; //Os itens são alinhados no meio do eixo Y (vertical).
h1{
    border: solid red 5px;
}

nav{
    border: solid rgb(14, 196, 29);
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

a{
    text-decoration: none;
    font-size: 1.5rem;
    color: red;
}


}


.produtosDisponiveis{
    background-color: aquamarine;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    article{
        border: solid red;
        width: 20%;
        height: 70vh;
        display: flex;

        //flex-direction: row; //Padrão. Os itens são organizados em forma de linha, da esquerda para a direita.
        //flex-direction: row-reverse; //Os itens são organizados em forma de linha, da direita para a esquerda.
        flex-direction: column; //Os itens são organizados em coluna, de cima para baixo.
        //flex-direction: column-reverse; //Os itens são organizados em coluna, de baixo para cima.

        
        justify-content: space-between;
        align-items: center;
        
        img{
        width:100%;
        border: solid;
        height: 30vh;
        }

        button{
            width: 45%;
            height: 5vh;
            cursor: pointer;
            margin-bottom: 1rem;
            background-color: #16a34a;
            color: #ffffff;
            font-weight: 900;
            border-radius: 15px;
            font-size: 1rem;
        }
    }
}

