*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    display: flex; //Ativa as caixas flexíveis
    justify-content: space-around; //O primeiro espaço vazio o ultimo são iguais.
    //justify-content: space-evenly; //O mesmo espaçamento entre os itens.
    //justify-content: space-between; //O primeiro item fica no começo do eixo e o último fica no final do eixo.

    height: 15vh;
    align-items: center; //Os itens são alinhados no meio do eixo Y (vertical).


.caixaLogo{
    
    display: flex;
    justify-content: space-evenly;
    width: 12%;
    align-items: center;
    border: solid;
}    
h1{
    color: #1F2937;
}

nav{
    

  // border: solid rgb(14, 196, 29);
  display: flex;
  justify-content: space-evenly;
  //justify-content: space-between;
  width: 40%;
  align-items: center;

}

a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #485563;
    align-items: center;
}

.btnVerdeHeader{
    background-color: #21c05c;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 18px;
    border-radius: 6px;

}


}


.primeiraSection {
  //border: solid red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60vh;

  section {
    //border: solid green;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h2 {
      font-size: 3.75rem;
      font-weight: 700;
      width: 55%;
     // border: solid red;
    }

    p {
      font-size: 1.25rem;
      width: 50%;
      //border: solid blue;
    }
  }
}
           
            .boxBtnsPrimeiraSection {
  //border: solid purple;
  width: 50%;
  display: flex;
  justify-content: space-around;

  button {
    cursor: pointer;
    padding: 30px 40px;
  }
}


.dadosNumericos{
    background-color: #F3F5F8;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 20vh;
        div{
            
            width: 15%;
            height: 15vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            
            
            h2{
                color: #16A34A;
            }
        }

  }    

.produtosDisponiveis{
    
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    article{
        
        width: 20%;
        height: 70vh;
        display: flex;

        //flex-direction: row; //Padrão. Os itens são organizados em forma de linha, da esquerda para a direita.
        //flex-direction: row-reverse; //Os itens são organizados em forma de linha, da direita para a esquerda.
        flex-direction: column; //Os itens são organizados em coluna, de cima para baixo.
        //flex-direction: column-reverse; //Os itens são organizados em coluna, de baixo para cima.

        
        justify-content: space-between;
        align-items: center;
        
        img{
        width:100%;
        border: solid;
        height: 30vh;
        }

        button{
            width: 45%;
            height: 5vh;
            cursor: pointer;
            margin-bottom: 1rem;
            background-color: #16a34a;
            color: #ffffff;
            font-weight: 900;
            border-radius: 15px;
            font-size: 1rem;
        }
    }

    
}


//@media(min-width: ;) and (max-width: ;)

@media(max-width: 500px) {

    header {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 20vh;
  }

.caixaLogo{
    
    width: 100%;
    border: solid;

       

}

nav{
    border: solid;
    width: 100%;
    

    a{
        font-size: 0.8rem;
    }

    .btnVerdeHeader{
        font-size: 0.8rem;
    }
}


    //-----Primeira Section - Mobile-----
  .primeiraSection {
    
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 80vh;
    section {
      height: 70vh;
      
      h2 {
        font-size: 1.5rem;
        width: 100%;
      }
      p {
        width: 100%;
      }
    }
    .boxBtnsPrimeiraSection {
      width: 100%;
      button {
        padding: 20px 30px;
      }
    }
    img {
      width: 50%;
    }
  }

  



.dadosNumericos{
    
    height: 25vh;

div{
    width: 25%;
h2{
    font-size: 1.8rem;
}

p{
    font-size: 1rem;
}

}

}


.produtosDisponiveis{
    display: flex;
    flex-direction: column;

    article{
        width: 60%;
        text-align: center;

        button{
            font-size: 1rem;
            width: 70%;
            font-weight: 400;
    
        }
    }
}

}